* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: black;
  box-sizing: border-box;
}
.searchbar {
  background-color: rgb(173, 173, 235);
  border: 1px solid rgb(91, 91, 245);
  width: 390px;
  margin: 200px auto;
  border-radius: 10px;
  box-shadow: 0px 0px 26px 20px #36364c;
}
.searchbar .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 4px 16px 5px 16px;
  height: 30px;
  /* width: 200px; */
}
.row input {
  border: 0;
  outline: 0;
  background-color: transparent;
}
.row button {
  background-color: transparent;
  outline: 0;
  border: 0;
}
.row button img {
  cursor: pointer;
}
::placeholder {
  color: rgb(65, 62, 62);
}
.suggestion_box ul {
  padding: 5px 10px;
  border-top: 1px solid blue;
}
.suggestion_box ul li {
  list-style: none;
  padding: 7px 7px;
  color: rgb(65, 62, 62);
  font-size: 13px;
  cursor: pointer;
}
.suggestion_box ul li:hover {
  background-color: #a0a0e8;
  border-radius: 5px;
}
